<div class="flex justify-center h-full  bg-neutral rounded-2xl">
  <div class="my-20 w-full h-full flex flex-col items-center">
    <h1 class="text-5xl font-bold mb-8">Plan Usage</h1>

    <div class=" w-full h-full flex flex-col items-center mt-24">
      <div class="flex flex-col justify-center">
        <div class="radial-progress text-primary text-3xl mb-12" style="--value:110; --size:24rem; --thickness: 5px;">
          <p class="font-bold">250.50MB</p>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Your Plan</span>
          </label>
          <label class="input-group">
            <span>Plan</span>
            <input type="text" placeholder="200GB" class="input input-bordered" />
          </label>
        </div>
        <div class="form-control mt-5">
          <label class="label">
            <span class="label-text">Your Email</span>
          </label>
          <label class="input-group">
            <span>Email</span>
            <input type="text" placeholder="john.doe@exaple.com" class="input input-bordered" />
          </label>
        </div>
      </div>

    </div>

  </div>