<!-- layout.component.html -->
<header>
  <!-- header content goes here -->
</header>
<main>

  <div class="shadow bg-base-200 drawer drawer-mobile h-screen">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle">
    <div class="flex flex-col drawer-content p-20">
      <br> <label for="my-drawer-2" class="mb-4 btn btn-primary drawer-button w-24 lg:hidden">open menu</label>
      <router-outlet></router-outlet>
      <div class="text-xs lg:hidden">
      </div>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-2" class="drawer-overlay"></label>
      <ul class="menu p-4  w-80 bg-base-200 text-base-100">
        <div class="flex flex-col items-center">
          <img src="../../../assets/ioThink-logo.png" class="w-20 mb-2 mt-2" />
        </div>
        <div>
          <h1 class=" text-2xl font-bold text-base-300 my-10">Menu</h1>
        </div>
        <li>
          <a routerLink="home" routerLinkActive="active bg-primary text-base-300">
            <span class="i-mdi-house-add-outline text-2xl"></span>
            Home</a>
        </li>
        <li>

          <a class="text-base-300" routerLink="routines" routerLinkActive="active bg-white text-primary"> <span
              class="i-mdi-book-plus-outline text-2xl"></span>Rotinas</a>

        </li>
        <li>
          <a class="text-base-300" routerLink="logs" routerLinkActive="active bg-white text-primary">
            <span class="i-mdi-chart-box-outline text-2xl"></span>
            Log de Eventos</a>
        </li>
      </ul>
    </div>
  </div>


</main>
<footer>
  <!-- footer content goes here -->
</footer>
