<div class="flex flex-col justify-center  items-center w-full">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="../../assets/viasat.png" class="max-w-sm rounded-lg animate-pulse mr-16" />
      <div>
        <h1 class="text-6xl font-bold text-primary">Welcome to ViaSat!</h1>
        <h3 class="py-6 text-lg">Do you want to see how much you've spent of your internet plan? <br>
          Come check the ViaSat NET Traffic Meter to see what's up!
        </h3>
        <button (click)="navigateToHome()" class="btn btn-secondary hover:scale-110 duration-300">Take a Look</button>
      </div>
    </div>
  </div>
</div>