<div class="bg-base-100 shadow-md rounded-lg h-20 my-2 mx-5 flex items-center">
  <span class="i-mdi-account w-10 p-5 ml-5"></span>
  <div class="flex flex-row justify-between items-center w-full">
    <div class="p-8">
      <h1 class="font-bold">
        aaaaa
      </h1>
      <h2 class="font-extralight">Devices:
        <div class="badge badge-outline">aaa</div>

      </h2>
    </div>
    <div class=" mx-5 flex justify-end items-center ">
      <span class="i-mdi-arrow-right p-3"></span>
    </div>
  </div>
</div>
