<div class="bg-base-100 shadow-md rounded-lg h-20 my-2 mx-5 flex items-center">
  <span [ngClass]="{'i-mdi-number-1-circle p-3 ml-5 text-error': ranking ===0 }"></span>
  <span [ngClass]="{'i-mdi-number-2-circle p-3 ml-5 text-warning': ranking === 1 }"></span>
  <span [ngClass]="{'i-mdi-number-3-circle p-3 ml-5 text-secondary': ranking === 2 }"></span>
  <span [ngClass]="{'i-mdi-number-4-circle p-3 ml-5 text-white': ranking === 3 }"></span>
  <span [ngClass]="{'i-mdi-number-5-circle p-3 ml-5 text-white': ranking === 4 }"></span>
  <div class="flex flex-row justify-between items-center w-full">
    <div class="p-8">
      <h1 class="font-bold">
        {{app.name.split('.')[0]}}
      </h1>
      <div class="flex flex-row">
        <h2 class="font-extralight">last_time_update</h2>
      </div>
    </div>
    <div class="p-8">
      <h1 class="font-bold text-primary">
        Download
      </h1>
      <div class="flex flex-row">
        <h2 class="font-extralight">{{app.download}}</h2>
      </div>
    </div>
    <div class="p-8">
      <h1 class="font-bold text-secondary">
        Upload
      </h1>
      <div class="flex flex-row">
        <h2 class="font-extralight">{{app.upload}}</h2>
      </div>
    </div>
    <div class=" mx-5 flex justify-end items-center ">
      <span class="i-mdi-arrow-right p-3"></span>
    </div>
  </div>
</div>
