<div class="flex justify-center h-full  bg-neutral rounded-2xl">
  <div class="my-20 w-full flex flex-col items-center">
    <h1 class="text-5xl font-bold mb-8">Ranking</h1>

    <div class=" w-full h-full ">
      <app-rank-card *ngFor="let app of podium; let i = index" [ranking]="i" [app]="app"
        (click)="showDetails(i)"></app-rank-card>
    </div>
  </div>

  <input type="checkbox" id="modal" class="modal-toggle scrollbar" />
  <label for="modal" class="modal scrollbar cursor-pointer">
    <label class="modal-box scrollbar relative w-screen" for="">
      <h3 class="text-lg font-bold mb-3">App: {{selectedTrafficInfo?.name}}</h3>
      <div class="flex flex-col scrollbar justify-center">
        <div class="flex flex-col justify-center">
          <div class="overflow-x-auto scrollbar">
            <table class="table table-compact  w-full">
              <thead>
                <tr>
                  <th>host</th>
                  <th>download</th>
                  <th>upload</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let host of selectedTrafficInfo?.host_traffic">
                  <th>{{host.host}}</th>
                  <td>{{host.download}}</td>
                  <td>{{host.upload}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </label>
  </label>

</div>